# OpenAI API Key - Replace with your actual API key
OPENAI_API_KEY='sk-proj-XXXXXX'

# Tavily
TAVILY_API_KEY='tvly-dev-XXXXXX'

# LangSmith Tracing Configuration
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=lsv2_pt-XXXXXX
LANGSMITH_PROJECT="your-project-name"